.sign-up{
    position: fixed;
   
    background: #ffffff;
    height: 100vh;
    z-index: 999999;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-up .Parent-log h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}


.sign-up .Parent-log .form-sign{
 display: flex;
 flex-direction: column;
 align-items: center;
}
.sign-up .Parent-log .form-sign input{
margin-bottom: 1%;
}
.sign-up .Parent-log .form-sign button{
    padding: 2px 52px;
    border-radius: 4px;
    background: black;
    color: white;
}
.sign-up .Parent-log .form-sign button:hover{
    background: white;
    color: black;
}